body {
  background: #95a5a6;
}
header {
  text-align: center;
  color: #fff;
}
header input {
  width: 50%;
  display: block;
  margin: 10px auto;
  padding: 8px;
  border: none;
  border-bottom: 3px solid #3498db;
}
header input:focus {
  border-bottom: 3px solid #8e44ad;
}
section article {
  padding: 10px;
  margin: 10px auto;
  width: 50%;
  background: #1abc9c;
}
section article:nth-child(odd) {
  background: #2c3e50;
  color: #fff;
}
section label {
  width: 80%;
  display: inline-block;
  padding: 5px;
}
section input[type=radio] {
  width: 15%;
  display: inline-block;
}
section input[type=submit] {
  width: 30%;
  padding: 2%;
  background: #c0392b;
  color: #fff;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
}
